@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  /*Primary*/
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt--blue: hsl(234, 85%, 45%);
  --light-red-10: hsl(0, 100%, 67%, 5%);
  --orangey-yellow-10: hsl(39, 100%, 56%, 5%);
  --green-teal-10: hsl(166, 100%, 37%, 5%);
  --cobalt--blue-10: hsl(234, 85%, 45%, 5%);

  /*Gradients*/
  --back-light-slate-blue: hsl(252, 100%, 67%);
  --back-light-royal-blue: hsl(241, 81%, 54%);
  --circle-violet-blue: hsla(256, 72%, 46%, 1);
  --circle-persian-blue: hsla(241, 72%, 46%, 0);

  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --dark-gray-blue-80: hsla(224, 31%, 27%, 50%);

  font-size: 18px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 500;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
}

footer {
  position: relative;
  margin-top: 5rem;
}

img {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.title {
  font-weight: 700;
}

.card {
  flex: 1;
}

.card__score {
  background-image: linear-gradient(180deg, var(--back-light-slate-blue) , var(--back-light-royal-blue) );
  padding: 1.2rem 3rem 2.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.card__score > * + * {
  margin-top: 1.5rem;
}

.card__score .title {
  text-align: center;
  margin: 0;
  color: var(--light-lavender);
}

.card__score .circle {
  width: 9rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1.5rem;
  border-radius: 50%;
  background-image: linear-gradient(var(--circle-violet-blue), var(--circle-persian-blue));
  color: hsl(246, 100%, 75%);
}

.circle > p {
  margin: 0;
}

.circle__current-score {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
}

.card__score > .result {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: .5rem;
}

.card__score > .result-desc {
  color: var(--light-lavender);
  opacity: .8;
  text-align: center;
  font-size: .9rem;
  margin-top: .778rem;
}

.card__summary-list {
  padding: 1.2rem 2rem;
}

.card__summary-list > .title {
  color: var(--dark-gray-blue);
}

.card__summary-list ul {
  list-style: none;
  padding-left: 0;
}

.card__summary-list .list__item {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .5rem;
  display: flex;
  font-size: .9rem;
  justify-content: space-between;
}
.item__icon {
  margin-right: .5rem;
}

.item__name {
  flex: 1;
  font-weight: 700;
}

.item__score {
  font-weight: 700;
  color: var(--dark-gray-blue-80);
}

.item__score .score {
  color: var(--dark-gray-blue);
}

.bg-red {
  background-color: var(--light-red-10);
}

.bg-red .item__name {
  color: var(--light-red);
  opacity: .75;
}

.bg-yellow {
  background-color: var(--orangey-yellow-10);
}

.bg-yellow .item__name {
  color: var(--orangey-yellow);
  opacity: .75;
}

.bg-green {
  background-color: var(--green-teal-10);
}

.bg-green .item__name {
  color: var(--green-teal);
  opacity: .75;
}

.bg-blue {
  background-color: var(--cobalt--blue-10);
}

.bg-blue .item__name {
  color: var(--cobalt--blue);
  opacity: .75;
}

.card__summary-list .btn {
  width: 100%;
  margin-top: .5rem;
  padding: .8rem 0;
  background: var(--dark-gray-blue);
  background-size: 1rem 10rem;
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5rem;
  transition: background .5s ease-in;
}

.card__summary-list .btn:active {
  background: linear-gradient(180deg, var(--back-light-slate-blue), var(--back-light-royal-blue)) 5rem;
}

@media (min-width: 1440px) {
  main {
    justify-content: center;
    align-items: center;
  }

  .card {
    flex: 0 0 39rem;
    display: flex;
    box-shadow: 1rem 2rem 3rem var(--pale-blue), -0.1rem 1rem 10px var(--pale-blue);
    border-radius: 2rem;
  }

  .card__score {
    flex: 0 0 50%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .card__score .circle {
    width: 10rem;
    height: 10rem;
  }

  .circle__current-score {
    font-size: 3.5rem;
  }

  .card__summary-list {
    flex: 0 0 50%
  }
}